# Django
DJANGO_SETTINGS_MODULE=
DJANGO_SECRET_KEY=

# Documentation
SWAGGER_SCHEME=

# Authentication
JWT_SECRET_KEY=

# Banco de Dados
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Redis
REDIS_URL=

# Dominios onde a API responde
DJANGO_ALLOWED_HOSTS=

# Sites que poderá fazer requisição
DJANGO_CORS_ALLOWED_ORIGINS=

DJANGO_CSRF_TRUSTED_ORIGINS=

# Super usuário para ambiente de produção
DJANGO_SUPERUSER_USERNAME=
DJANGO_SUPERUSER_PASSWORD=
# Opcional
DJANGO_SUPERUSER_EMAIL=

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_ENVIRONMENT=sandbox
GRADFUND_PIX_KEY=

# URLs
BASE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000
MERCADOPAGO_APPLICATION_ID=your_application_id_here
MERCADOPAGO_CLIENT_SECRET=your_client_secret_here
BASE_URL=http://localhost:8000